In [13]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

In [27]:
dataset = pd.read_csv('../dataBase/mortalidade.csv')
dataset.head()

,Ano,Total_Natalidade (Brasil),Natalidade_Mulher (Brasil),Total_Mortalidade (Brasil),Mortalidade_Mulher (Brasil),Total_Natalidade JF,Natalidade_Mulher JF,Total_Mortalidade JF,Mortalidade_Mulher JF
0,2005,185150822,93381535,47578,3884,499972,260620,25,2
1,2006,187335121,94521963,49145,4022,506488,263972,38,4
2,2007,189462729,95633484,47707,3772,512787,267269,47,5
3,2008,191532420,96715463,50113,4023,518869,270446,57,9
4,2009,193543989,97767929,51434,4260,524740,273519,45,8

In [41]:
X = dataset[['Total_Natalidade (Brasil)', 'Natalidade_Mulher (Brasil)', 'Total_Mortalidade (Brasil)']]
y = dataset['Mortalidade_Mulher (Brasil)']

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [43]:
from sklearn.linear_model import LinearRegression  

regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [44]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])  
coeff_df

                            Coefficient
Total_Natalidade (Brasil)      0.009658
Natalidade_Mulher (Brasil)    -0.018425
Total_Mortalidade (Brasil)     0.075472

In [45]:
y_pred = regressor.predict(X_test)

In [46]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df

   Actual    Predicted
4    4260  4350.276800
9    4832  4869.510564
2    3772  3978.943655

In [47]:
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 111.5770063100208
Mean Squared Error: 17460.873148727005
Root Mean Squared Error: 132.13959720207643